
<div class="container">
    <div  class="row row-centered pos d-flex justify-content-around">
        <div *ngFor="let course of courses"  class="col-lg-5 col-xs-12 shadow p-3 mb-5 bg-white rounded">
            <div class="well">
                <section class="mat-typography">
                    <img class="d-block w-100 rounded" src="../../../../assets/images/c++.jpg" alt="First slide">
                    <h2>C++ Interview Prep</h2>
                    <p >Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicerontrary to popular belief, Lorem Ipsum is not simply random text. It has roots2000 years old. Ricpden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, </p>
                </section>      
            </div>
        </div>
            
    </div>
</div>
    
