
<footer class="page-footer font-small special-color-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <p>Coding Jacks<p>
            </div>
            
            <div class="col-md-6  flex-center">
                <p>Reach us at</p>

                <!-- Facebook -->
                <a class="fb-ic">
                    <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                    <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <!--Pinterest-->
                <a class="pin-ic">
                    <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                </a>
                
            </div>
        </div>
    </div>
        
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="localhost:4200/"> codingjacks.com</a>
    </div>
</footer>
        