footer  {
    background:  linear-gradient(to right top, #0d0d0d, #1e1e1e, #2e2e2e, #3f3f3f, #515151);
margin-top: 5%;
}
footer p{
    color: whitesmoke;
}
i{
    color: white
}
.footer-copyright{
    color: white
}
.footer-copyright a{
    color: white
}
