<nav class="navbar navbar-expand-md navbar-default shadow-sm p-3 mb-5 bg-white rounded ">
    <div class="mx-auto order-0">
        <a style="color: black" class="navbar-brand mx-auto" [routerLink]="'/dashboard'">Coding Jacks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        
        <ul class="navbar-nav mr-auto ml-5">
            <li  class="nav-item active dropdown" >
                <a style="color: #167af6" class="nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Courses</a>
                <div  class="dropdown-menu" >
                <a  class="dropdown-item" [routerLink]="'/dashboard'"> C++ Basics </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/dashboard'">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/courses'">Lectures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/dashboard'">About Us</a>
            </li>
        </ul>
    </div>
    
    <div *ngIf=!loggedin class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        
        <ul  class="navbar-nav ml-auto">
            <li  class="nav-item">
                <a><i class="fa fa-google fa-lg"(click)="socialSignIn('google')" aria-hidden="true"> Login</i> </a>
            </li> 
            &nbsp;
            <li style="margin-left: 1px">
               <h6 style="color: white">|</h6>
            </li> 
            &nbsp;
            <li class="nav-item">
                <a><i class="fa fa-facebook fa-lg" aria-hidden="true"> Login</i></a>
            </li>
        </ul>
    </div>
    <div  *ngIf=loggedin class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul  class="navbar-nav ml-auto">
                    <li  class="nav-item">
                            <button type="button" (click)="logout()" class="btn btn-outline-danger">Logout</button>                
                    </li> 
             </ul>
  </div>
</nav>
<router-outlet></router-outlet>
