
<div class="container-fluid row row-centered pos">
     
    <div class="col-lg-8 col-xs-12 shadow bg-white rounded " >
        <div class="well" >
                <iframe width="730" height="580"
                [attr.src]="selected_video">
                </iframe> 
        </div>
    </div>

    <div  id="scrollable" class="col-lg-4 col-xs-12 shadow bg-white rounded">
        <div *ngFor="let lecture of lectures" style="padding:0px; margin-top: 2vh; height:10vh" class="container-fluid  col-lg-12 col-xs-12 border-bottom">
                <p (click)="selectVideo(lecture.video_link)">{{lecture.title}}</p>
        </div>
       
    </div>
    
</div>
    
