.container-fluid{
    height: 90vh;
}
#scrollable{
    height: 100vh;
    overflow:auto;
}
 p{
     margin-bottom: 0;
 }
 #test-case{
     background-color: #f7f7f7;
     border-radius: 1.5%
 }
 #test-case p, #test-case h6{
     margin-left: 1%;
     
 }
 #scrollable{
     padding-bottom: 2%;
    right: 0;
    position: fixed;
 }
